{% extends 'customer/layout.html' %}

{% block title %}
    Manage Requests
{% endblock %}

{% block main %}
    <!--Admin Content-->
    <div class="admin-content">
        {% for message in messages %}
            <div class="msg">
                {{message}}
            </div>
        {% endfor %}
        <div class="button-group">
            <a href="{% url 'customer:processing' %}" class="btn">Done</a>
        </div>

        <div class="content">
            <h2 class="page-title">Manage Processing Requests</h2>

            <table>
                <thead>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Service</th>
                    <th>Payment</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th colspan="1"></th>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ record.name }}</td>
                        <td>{{ record.mobile }}</td>
                        <td>{{ record.service }} ({{ record.subservice }})</td>
                        <td>{{ record.payment }}</td>
                        <td>{{ record.priority }}</td>
                        <td>{{ record.status }}</td>
                        <td>
                            <form action="{% url 'customer:manage_processing' %}" method="POST" onsubmit="return confirm('Are you sure?');">
                                {% csrf_token %}
                                <button value="{{ record.id }}" name="remove" type="submit" class="btn-delete">Delete</button>
                            </form>
                        </td>
                        <!--<td><a href="#" class="delete">delete</a></td>-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <!--End Admin Content-->
{% endblock %}